 {{ "product-category-banner.css" | asset_url | stylesheet_tag }}

 {% assign data = section.settings %}
 <section class="product-category ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title text-center page-width">
            <h2>Product Category</h2>
          </div>
        </div>

        <!-- <div class="col-md-6 product_row">
          <div class="category-box">
            <a href="{{ section.settings.category_top_left_url }}">
                {% if section.settings.category_top_left %}
                    {% render 'image', imageSrc: section.settings.category_top_left, classes: 'img' %}
                {% else %}
                    {% render 'image', imageSrc: 'mentis-black.png' , classes: 'img', altTag: 'logo-black', isAsset: true %}
                {% endif %}
              <div class="content">
                <h3>{{ section.settings.category_top_left_header }}</h3>
                <p>{{ section.settings.catefory_top_left_text }}</p>
              </div>
            </a>
          </div>
          <div class="category-box">
           <a href="{{ section.settings.category_bottom_url }}">
                {% if section.settings.category_bottom_img %}
                    {% render 'image', imageSrc: section.settings.category_bottom_img, classes: 'img' %}
                {% else %}
                    {% render 'image', imageSrc: 'mentis-black.png' , classes: 'img', altTag: 'logo-black', isAsset: true %}
                {% endif %}
              <div class="content">
                <h3>{{ section.settings.category_bottom_header }}</h3>
                <p>{{ section.settings.catefory_bottom_text }}</p>
              </div>
            </a>
          </div>
        </div> -->


        <!-- <div class="div">
            <ul>
                {% for product in section.settings.collection.products limit: 8 %}
                    <li>
                        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" /> 
                    </li>
                {% endfor %}
            </ul>

        </div> -->
<!-- 
        <div class="col-md-6">
          <div class="category-box category-box-2">
          <a href="{{ section.settings.category_right_url }}">
                {% if section.settings.category_right_img %}
                    {% render 'image', imageSrc: section.settings.category_right_img, classes: 'img' %}
                {% else %}
                    {% render 'image', imageSrc: 'mentis-black.png' , classes: 'img', altTag: 'logo-black', isAsset: true %}
                {% endif %}
              <div class="content">
                <h3>{{ section.settings.category_right_header }}</h3>
                <p>{{ section.settings.catefory_right_text }}</p>
              </div>
            </a>
          </div>
        </div> -->
      </div>
    </div>

      <div class="product-carousel page-width">
            {% for product in section.settings.collection.products limit: 4 %}
                  <div class="product-cell">
                          <!-- <img class="product-img" src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" />  -->
                   <a href="{{ product.url }}">
                      <div class=" product-div">
                            {% if product.featured_image %}
                              {% render 'image', imageSrc: product.featured_image, classes: 'product-img' %}
                            {% else %}
                              {{ 'image' | placeholder_svg_tag: 'product-img' }}
                            {% endif %}
                      </div>
                      <div class="product-content">
                          <p class="product-desc price">{{ product.price | money }}</p>
                          <p class="product-desc pro-title">{{ product.title  }}</p>
                      </div>
                  </a>
                  </div>
            {% endfor %}
      </div>
  </section>

  <div class="product_btn element-margin-top ">
    <!-- <button class="btn-width-height btn1-hover btn-border"> <a href="{{ data.btn_url }}"> </a> {{ data.btn_text }} </button> -->

    <a  class="btn-width-height btn-hover " href="{{ data.btn_url }}">  {{ data.btn_text }} </a>
  </div>

  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script>
  var el = document.querySelector('.product-carousel');
  var fl = new Flickity( el, {
    cellAlign: 'left',
    accessibility: false,
    contain: true,
    wrapAround: true,
    freeScroll: true
  });
</script>

  {% schema %}
  {
    "name": "Product Category Banner",
   "settings": [

    {
      "type": "text",
      "id": "price",
      "label": "Put Price",
      "default": "00.0"
    },

    {
        "type": "text",
        "id": "category_top_left_header",
        "label": "Category Top Left Header",
        "default": "Dress"
    },

   {
        "type": "text",
        "id": "catefory_top_left_text",
        "label": "category top left text",
        "default": "Sale!"
   },

    {
        "type": "collection",
        "id": "collection",
        "label": "category top left"
    }, 

    {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text",
          "default": "v More"
    },

     {
          "type": "url",
          "id": "btn_url",
          "label": "Button  Url",
          "default": "/"
     }

   ],

    "presets": [
        {
            "name":"product Category Banner"
        }
    ]
  }
  {% endschema %}